@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "sidebar content";
  height: 100dvh;
  background-color: #202124;
  color: #ffffff;
}

/* General styles */

button {
  padding: 8px 15px;
  cursor: pointer;
  height: 40px;
  font-size: 14px;
  background-color: #029ae0;
  color: white;
  border-radius: 100px;
  border: none;
}

/* Sidebar styles */

#sidebar {
  background-color: #26282b;
  padding: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

#company-logo {
  height: 65px;
}

#nav-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

#nav-buttons li {
  list-style-type: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #029ae0;
}

/* Content styles*/
#content {
}

header {
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
